h1 {
    color: black
}


/* Makes the intro section parallel scroll */

body {
    margin: 0;
    padding: 0;
}

.parallax-section {
    background-image: url('Images/camera-4123304_1920.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
    background-attachment: scroll; /* fixed */
    background-position: center; /* center */
    background-repeat: no-repeat;
    background-size: cover; /* cover */
    height: 40vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-in-section {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color if needed */
    padding: 20px;
}


/* Select the h2 and p elements inside the .fade-in-section class and sets their text color */
.fade-in-section h2, .fw-light {
    color: #282727; /* grey color */
}

h2, .lead-text-body-secondary {
    color: #282828; /* White color */
}